<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pokeDex</title>
    <link rel="stylesheet" href="/static/css/style.css">  <!-- CSS 연결 -->
</head>
<body>
<h1>pokeDex</h1>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>HP</th>
        <th>Attack</th>
        <th>Defense</th>
    </tr>
    <tr>
            <td>{{ pokemon.id }}</td>
            <td>{{ pokeimages.image}}</td>
            <td>{{ pokemon.name }}</td>
            <td>{{ pokemon.hp }}</td>
            <td>{{ pokemon.attack }}</td>
            <td>{{ pokemon.defense }}</td>
        </tr>
    {% empty %}
        <tr>
            <td colspan="5">No Pokemon found</td>
        </tr>
    {% endfor %}
</table>
</body>
</html>
