body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    text-align: center;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    color: #ff0000;
}

.pokemon-card {
    display: inline-block;
    width: 200px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    text-align: center;
}

img {
    width: 150px;
    height: auto;
    border-radius: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    padding: 5px;
    font-size: 16px;
}
